<div>
  <h2 id="page-heading" data-cy="OnsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadoresHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.title"
      >Ons Dados Indicadores Confiabilidade Rede Basica Ccat Controle Carregamento Transformadores</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span
          jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.refreshListLabel"
          >Atualizar lista</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores"
        [routerLink]="['/ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span
          class="hidden-sm-down"
          jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.createLabel"
          >Criar novo Ons Dados Indicadores Confiabilidade Rede Basica Ccat Controle Carregamento Transformadores</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.search"
          >Pesquisar por Ons Dados Indicadores Confiabilidade Rede Basica Ccat Controle Carregamento Transformadores</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{
            'wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.search' | translate
          }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.home.notFound"
        >Nenhum Ons Dados Indicadores Confiabilidade Rede Basica Ccat Controle Carregamento Transformadores encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codTipoagregacao">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.codTipoagregacao"
                  >Cod Tipoagregacao</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idPeriodicidade">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.idPeriodicidade"
                  >Id Periodicidade</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomAgregacao">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.nomAgregacao"
                  >Nom Agregacao</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dinReferencia">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.dinReferencia"
                  >Din Referencia</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numTransformadoresoperacao">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.numTransformadoresoperacao"
                  >Num Transformadoresoperacao</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numTransformadoresviolados">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.numTransformadoresviolados"
                  >Num Transformadoresviolados</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCcat">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.valCcat"
                  >Val Ccat</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores of onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores();
            track trackId(onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="[
                    '/ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores',
                    onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.id,
                    'view',
                  ]"
                  >{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.id }}</a
                >
              </td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.codTipoagregacao }}</td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.idPeriodicidade }}</td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.nomAgregacao }}</td>
              <td>
                {{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.dinReferencia | formatMediumDate }}
              </td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.numTransformadoresoperacao }}</td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.numTransformadoresviolados }}</td>
              <td>{{ onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.valCcat }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores',
                      onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.id,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="[
                      '/ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores',
                      onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores.id,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
