<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (
      onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal();
      as onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef
    ) {
      <div>
        <h2 data-cy="onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.detail.title"
            >Ons Indicadores Desempenho Funcoes Geracao Unidade Geradora Em Base Mensal</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.idSubsistema"
              >Id Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.idSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomSubsistema"
              >Nom Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.idEstado"
              >Id Estado</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.idEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomEstado"
              >Nom Estado</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomModalidadeoperacao"
              >Nom Modalidadeoperacao</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomModalidadeoperacao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomAgenteproprietario"
              >Nom Agenteproprietario</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomAgenteproprietario }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.idTipousina"
              >Id Tipousina</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.idTipousina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.idUsina">Id Usina</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.idUsina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomUsina"
              >Nom Usina</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomUsina }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.ceg">Ceg</span></dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.ceg }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.codEquipamento"
              >Cod Equipamento</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.codEquipamento }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.numUnidadegeradora"
              >Num Unidadegeradora</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.numUnidadegeradora }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.nomUnidadegeradora"
              >Nom Unidadegeradora</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.nomUnidadegeradora }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valPotencia"
              >Val Potencia</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valPotencia }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valDispf"
              >Val Dispf</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valDispf }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valIndisppf"
              >Val Indisppf</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valIndisppf }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valIndispff"
              >Val Indispff</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valIndispff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valDmdff"
              >Val Dmdff</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valDmdff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valFdff">Val Fdff</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valFdff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal.valTdff">Val Tdff</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.valTdff }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-indicadores-desempenho-funcoes-geracao-unidade-geradora-em-base-mensal',
            onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensalRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
