<div>
  <h2 id="page-heading" data-cy="OnsIndicadoresConfiabilidadeRedeBasicaDreqFreqHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.title"
      >Ons Indicadores Confiabilidade Rede Basica Dreq Freqs</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-indicadores-confiabilidade-rede-basica-dreq-freq"
        [routerLink]="['/ons-indicadores-confiabilidade-rede-basica-dreq-freq/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.createLabel"
          >Criar novo Ons Indicadores Confiabilidade Rede Basica Dreq Freq</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.search"
          >Pesquisar por Ons Indicadores Confiabilidade Rede Basica Dreq Freq</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsIndicadoresConfiabilidadeRedeBasicaDreqFreqs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.home.notFound"
        >Nenhum Ons Indicadores Confiabilidade Rede Basica Dreq Freq encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dscAgregacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dscAgregacao">Dsc Agregacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="codCaracteristica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.codCaracteristica"
                  >Cod Caracteristica</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dscCaracteristica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dscCaracteristica"
                  >Dsc Caracteristica</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idPeriodicidade">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.idPeriodicidade">Id Periodicidade</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dinReferencia">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dinReferencia">Din Referencia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valDreq">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.valDreq">Val Dreq</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valFreq">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.valFreq">Val Freq</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsIndicadoresConfiabilidadeRedeBasicaDreqFreq of onsIndicadoresConfiabilidadeRedeBasicaDreqFreqs();
            track trackId(onsIndicadoresConfiabilidadeRedeBasicaDreqFreq)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="[
                    '/ons-indicadores-confiabilidade-rede-basica-dreq-freq',
                    onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.id,
                    'view',
                  ]"
                  >{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.id }}</a
                >
              </td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dscAgregacao }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.codCaracteristica }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dscCaracteristica }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.idPeriodicidade }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.dinReferencia | formatMediumDate }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.valDreq }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.valFreq }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/ons-indicadores-confiabilidade-rede-basica-dreq-freq',
                      onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.id,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="[
                      '/ons-indicadores-confiabilidade-rede-basica-dreq-freq',
                      onsIndicadoresConfiabilidadeRedeBasicaDreqFreq.id,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsIndicadoresConfiabilidadeRedeBasicaDreqFreq)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
