@if (onsIntercambiosEntreSubsistemas) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(onsIntercambiosEntreSubsistemas.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="onsIntercambiosEntreSubsistemasDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirme a exclusão
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-onsIntercambiosEntreSubsistemas-heading"
        jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.delete.question"
        [translateValues]="{ id: onsIntercambiosEntreSubsistemas.id }"
      >
        Tem certeza de que deseja excluir Ons Intercambios Entre Subsistemas {{ onsIntercambiosEntreSubsistemas.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button
        id="jhi-confirm-delete-onsIntercambiosEntreSubsistemas"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger"
      >
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
      </button>
    </div>
  </form>
}
