<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-capacidade-instalada-geracao-heading"
        data-cy="OnsCapacidadeInstaladaGeracaoCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.home.createOrEditLabel"
      >
        Criar ou editar Ons Capacidade Instalada Geracao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idSubsistema" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.idSubsistema"
            >Id Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="idSubsistema"
            id="field_idSubsistema"
            data-cy="idSubsistema"
            formControlName="idSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomSubsistema" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomSubsistema"
            >Nom Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="nomSubsistema"
            id="field_nomSubsistema"
            data-cy="nomSubsistema"
            formControlName="nomSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idEstado" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.idEstado"
            >Id Estado</label
          >
          <input type="text" class="form-control" name="idEstado" id="field_idEstado" data-cy="idEstado" formControlName="idEstado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomEstado" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomEstado"
            >Nom Estado</label
          >
          <input type="text" class="form-control" name="nomEstado" id="field_nomEstado" data-cy="nomEstado" formControlName="nomEstado" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nomModalidadeoperacao"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomModalidadeoperacao"
            >Nom Modalidadeoperacao</label
          >
          <input
            type="text"
            class="form-control"
            name="nomModalidadeoperacao"
            id="field_nomModalidadeoperacao"
            data-cy="nomModalidadeoperacao"
            formControlName="nomModalidadeoperacao"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nomAgenteproprietario"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomAgenteproprietario"
            >Nom Agenteproprietario</label
          >
          <input
            type="text"
            class="form-control"
            name="nomAgenteproprietario"
            id="field_nomAgenteproprietario"
            data-cy="nomAgenteproprietario"
            formControlName="nomAgenteproprietario"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomTipousina" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomTipousina"
            >Nom Tipousina</label
          >
          <input
            type="text"
            class="form-control"
            name="nomTipousina"
            id="field_nomTipousina"
            data-cy="nomTipousina"
            formControlName="nomTipousina"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomUsina" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomUsina"
            >Nom Usina</label
          >
          <input type="text" class="form-control" name="nomUsina" id="field_nomUsina" data-cy="nomUsina" formControlName="nomUsina" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ceg" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.ceg">Ceg</label>
          <input type="text" class="form-control" name="ceg" id="field_ceg" data-cy="ceg" formControlName="ceg" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nomUnidadegeradora"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomUnidadegeradora"
            >Nom Unidadegeradora</label
          >
          <input
            type="text"
            class="form-control"
            name="nomUnidadegeradora"
            id="field_nomUnidadegeradora"
            data-cy="nomUnidadegeradora"
            formControlName="nomUnidadegeradora"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codEquipamento" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.codEquipamento"
            >Cod Equipamento</label
          >
          <input
            type="text"
            class="form-control"
            name="codEquipamento"
            id="field_codEquipamento"
            data-cy="codEquipamento"
            formControlName="codEquipamento"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_numUnidadegeradora"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.numUnidadegeradora"
            >Num Unidadegeradora</label
          >
          <input
            type="text"
            class="form-control"
            name="numUnidadegeradora"
            id="field_numUnidadegeradora"
            data-cy="numUnidadegeradora"
            formControlName="numUnidadegeradora"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomCombustivel" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.nomCombustivel"
            >Nom Combustivel</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCombustivel"
            id="field_nomCombustivel"
            data-cy="nomCombustivel"
            formControlName="nomCombustivel"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_datEntradateste"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.datEntradateste"
            >Dat Entradateste</label
          >
          <div class="input-group">
            <input
              id="field_datEntradateste"
              data-cy="datEntradateste"
              type="text"
              class="form-control"
              name="datEntradateste"
              ngbDatepicker
              #datEntradatesteDp="ngbDatepicker"
              formControlName="datEntradateste"
            />
            <button type="button" class="btn btn-secondary" (click)="datEntradatesteDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_datEntradaoperacao"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.datEntradaoperacao"
            >Dat Entradaoperacao</label
          >
          <div class="input-group">
            <input
              id="field_datEntradaoperacao"
              data-cy="datEntradaoperacao"
              type="text"
              class="form-control"
              name="datEntradaoperacao"
              ngbDatepicker
              #datEntradaoperacaoDp="ngbDatepicker"
              formControlName="datEntradaoperacao"
            />
            <button type="button" class="btn btn-secondary" (click)="datEntradaoperacaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_datDesativacao" jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.datDesativacao"
            >Dat Desativacao</label
          >
          <div class="input-group">
            <input
              id="field_datDesativacao"
              data-cy="datDesativacao"
              type="text"
              class="form-control"
              name="datDesativacao"
              ngbDatepicker
              #datDesativacaoDp="ngbDatepicker"
              formControlName="datDesativacao"
            />
            <button type="button" class="btn btn-secondary" (click)="datDesativacaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valPotenciaefetiva"
            jhiTranslate="wattsUpEnergyApp.onsCapacidadeInstaladaGeracao.valPotenciaefetiva"
            >Val Potenciaefetiva</label
          >
          <input
            type="number"
            class="form-control"
            name="valPotenciaefetiva"
            id="field_valPotenciaefetiva"
            data-cy="valPotenciaefetiva"
            formControlName="valPotenciaefetiva"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
