<div>
  <h2 id="page-heading" data-cy="OnsDadosHidraulicosReservatorioBaseHorariaHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.title"
      >Ons Dados Hidraulicos Reservatorio Base Horarias</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-dados-hidraulicos-reservatorio-base-horaria"
        [routerLink]="['/ons-dados-hidraulicos-reservatorio-base-horaria/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.createLabel"
          >Criar novo Ons Dados Hidraulicos Reservatorio Base Horaria</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.search"
          >Pesquisar por Ons Dados Hidraulicos Reservatorio Base Horaria</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsDadosHidraulicosReservatorioBaseHorarias().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.home.notFound"
        >Nenhum Ons Dados Hidraulicos Reservatorio Base Horaria encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVolumeutil">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVolumeutil">Val Volumeutil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaoafluente">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaoafluente">Val Vazaoafluente</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaodefluente">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaodefluente">Val Vazaodefluente</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaoturbinada">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaoturbinada">Val Vazaoturbinada</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaovertida">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaovertida">Val Vazaovertida</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaooutrasestruturas">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaooutrasestruturas"
                  >Val Vazaooutrasestruturas</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaotransferida">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaotransferida"
                  >Val Vazaotransferida</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVazaovertidanaoturbinavel">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseHoraria.valVazaovertidanaoturbinavel"
                  >Val Vazaovertidanaoturbinavel</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsDadosHidraulicosReservatorioBaseHoraria of onsDadosHidraulicosReservatorioBaseHorarias();
            track trackId(onsDadosHidraulicosReservatorioBaseHoraria)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="['/ons-dados-hidraulicos-reservatorio-base-horaria', onsDadosHidraulicosReservatorioBaseHoraria.id, 'view']"
                  >{{ onsDadosHidraulicosReservatorioBaseHoraria.id }}</a
                >
              </td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVolumeutil }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaoafluente }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaodefluente }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaoturbinada }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaovertida }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaooutrasestruturas }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaotransferida }}</td>
              <td>{{ onsDadosHidraulicosReservatorioBaseHoraria.valVazaovertidanaoturbinavel }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/ons-dados-hidraulicos-reservatorio-base-horaria',
                      onsDadosHidraulicosReservatorioBaseHoraria.id,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="[
                      '/ons-dados-hidraulicos-reservatorio-base-horaria',
                      onsDadosHidraulicosReservatorioBaseHoraria.id,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsDadosHidraulicosReservatorioBaseHoraria)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
