<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-dados-grandezas-fluviometricas-heading"
        data-cy="OnsDadosGrandezasFluviometricasCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.home.createOrEditLabel"
      >
        Criar ou editar Ons Dados Grandezas Fluviometricas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idPostofluv" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.idPostofluv"
            >Id Postofluv</label
          >
          <input
            type="text"
            class="form-control"
            name="idPostofluv"
            id="field_idPostofluv"
            data-cy="idPostofluv"
            formControlName="idPostofluv"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nomPostofluviometrico"
            jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomPostofluviometrico"
            >Nom Postofluviometrico</label
          >
          <input
            type="text"
            class="form-control"
            name="nomPostofluviometrico"
            id="field_nomPostofluviometrico"
            data-cy="nomPostofluviometrico"
            formControlName="nomPostofluviometrico"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valLatitude" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valLatitude"
            >Val Latitude</label
          >
          <input
            type="number"
            class="form-control"
            name="valLatitude"
            id="field_valLatitude"
            data-cy="valLatitude"
            formControlName="valLatitude"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valLongitude" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valLongitude"
            >Val Longitude</label
          >
          <input
            type="number"
            class="form-control"
            name="valLongitude"
            id="field_valLongitude"
            data-cy="valLongitude"
            formControlName="valLongitude"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomRio" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomRio"
            >Nom Rio</label
          >
          <input type="text" class="form-control" name="nomRio" id="field_nomRio" data-cy="nomRio" formControlName="nomRio" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomBacia" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomBacia"
            >Nom Bacia</label
          >
          <input type="text" class="form-control" name="nomBacia" id="field_nomBacia" data-cy="nomBacia" formControlName="nomBacia" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dinMedicao" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.dinMedicao"
            >Din Medicao</label
          >
          <div class="input-group">
            <input
              id="field_dinMedicao"
              data-cy="dinMedicao"
              type="text"
              class="form-control"
              name="dinMedicao"
              ngbDatepicker
              #dinMedicaoDp="ngbDatepicker"
              formControlName="dinMedicao"
            />
            <button type="button" class="btn btn-secondary" (click)="dinMedicaoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valVazaomedia" jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valVazaomedia"
            >Val Vazaomedia</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaomedia"
            id="field_valVazaomedia"
            data-cy="valVazaomedia"
            formControlName="valVazaomedia"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaomediaincr"
            jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valVazaomediaincr"
            >Val Vazaomediaincr</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaomediaincr"
            id="field_valVazaomediaincr"
            data-cy="valVazaomediaincr"
            formControlName="valVazaomediaincr"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
