<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (onsDadosGrandezasFluviometricas(); as onsDadosGrandezasFluviometricasRef) {
      <div>
        <h2 data-cy="onsDadosGrandezasFluviometricasDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.detail.title">Ons Dados Grandezas Fluviometricas</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.idPostofluv">Id Postofluv</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.idPostofluv }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomPostofluviometrico">Nom Postofluviometrico</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.nomPostofluviometrico }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valLatitude">Val Latitude</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.valLatitude }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valLongitude">Val Longitude</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.valLongitude }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomRio">Nom Rio</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.nomRio }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.nomBacia">Nom Bacia</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.nomBacia }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.dinMedicao">Din Medicao</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.dinMedicao | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valVazaomedia">Val Vazaomedia</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.valVazaomedia }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosGrandezasFluviometricas.valVazaomediaincr">Val Vazaomediaincr</span></dt>
          <dd>
            <span>{{ onsDadosGrandezasFluviometricasRef.valVazaomediaincr }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="['/ons-dados-grandezas-fluviometricas', onsDadosGrandezasFluviometricasRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
