<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (
      onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual();
      as onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef
    ) {
      <div>
        <h2 data-cy="onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.detail.title"
            >Ons Indicadores Desempenho Funcoes Geracao Unidade Geradora Em Base Anual</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.idSubsistema"
              >Id Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.idSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomSubsistema"
              >Nom Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.idEstado">Id Estado</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.idEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomEstado"
              >Nom Estado</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomModalidadeoperacao"
              >Nom Modalidadeoperacao</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomModalidadeoperacao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomAgenteproprietario"
              >Nom Agenteproprietario</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomAgenteproprietario }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.idTipousina"
              >Id Tipousina</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.idTipousina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.idUsina">Id Usina</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.idUsina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomUsina">Nom Usina</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomUsina }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.ceg">Ceg</span></dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.ceg }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.codEquipamento"
              >Cod Equipamento</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.codEquipamento }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.numUnidadegeradora"
              >Num Unidadegeradora</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.numUnidadegeradora }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.nomUnidadegeradora"
              >Nom Unidadegeradora</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.nomUnidadegeradora }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valPotencia"
              >Val Potencia</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valPotencia }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.dinAno">Din Ano</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.dinAno }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valDispf">Val Dispf</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valDispf }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valIndisppf"
              >Val Indisppf</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valIndisppf }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valIndispff"
              >Val Indispff</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valIndispff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valDmdff">Val Dmdff</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valDmdff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valFdff">Val Fdff</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valFdff }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual.valTdff">Val Tdff</span>
          </dt>
          <dd>
            <span>{{ onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.valTdff }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-indicadores-desempenho-funcoes-geracao-unidade-geradora-em-base-anual',
            onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnualRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
