<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (
      onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs();
      as onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef
    ) {
      <div>
        <h2 data-cy="onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.detail.title"
            >Ons Indicadores Confiabilidade Rede Basica Robustez Rmal Rmcs Rrb E Rrbcs</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.codIndicador"
              >Cod Indicador</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.codIndicador }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.dscAgregacao"
              >Dsc Agregacao</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.dscAgregacao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.codCaracteristica"
              >Cod Caracteristica</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.codCaracteristica }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.dscCaracteristica"
              >Dsc Caracteristica</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.dscCaracteristica }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.idPeriodicidade"
              >Id Periodicidade</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.idPeriodicidade }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.dinReferencia"
              >Din Referencia</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.dinReferencia | formatMediumDate }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.valIndicador"
              >Val Indicador</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.valIndicador }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.numPerturbacoes"
              >Num Perturbacoes</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.numPerturbacoes }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.numPerturbacoescortecarga"
              >Num Perturbacoescortecarga</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.numPerturbacoescortecarga }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.numPerturbacoescortecarga0a50mw"
              >Num Perturbacoescortecarga 0 A 50 Mw</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.numPerturbacoescortecarga0a50mw }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.numPerturbacoescortecarga50a100mw"
              >Num Perturbacoescortecarga 50 A 100 Mw</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.numPerturbacoescortecarga50a100mw }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs.numPerturbacoescortecargaMaior100mw"
              >Num Perturbacoescortecarga Maior 100 Mw</span
            >
          </dt>
          <dd>
            <span>{{ onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.numPerturbacoescortecargaMaior100mw }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-indicadores-confiabilidade-rede-basica-robustez-rmal-rmcs-rrb-e-rrbcs',
            onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcsRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
