<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas(); as onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef) {
      <div>
        <h2 data-cy="onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.detail.title"
            >Ons Dados Restricao Operacao Constrainedoff Usinas Eolicas</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.idSubsistema">Id Subsistema</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.idSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.nomSubsistema">Nom Subsistema</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.nomSubsistema }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.idEstado">Id Estado</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.idEstado }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.nomEstado">Nom Estado</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.nomEstado }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.nomUsina">Nom Usina</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.nomUsina }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.idOns">Id Ons</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.idOns }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.ceg">Ceg</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.ceg }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.dinInstante">Din Instante</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.dinInstante | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.valGeracao">Val Geracao</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.valGeracao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.valGeracaolimitada"
              >Val Geracaolimitada</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.valGeracaolimitada }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.valDisponibilidade"
              >Val Disponibilidade</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.valDisponibilidade }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.valGeracaoreferencia"
              >Val Geracaoreferencia</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.valGeracaoreferencia }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.valGeracaoreferenciafinal"
              >Val Geracaoreferenciafinal</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.valGeracaoreferenciafinal }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.codRazaorestricao"
              >Cod Razaorestricao</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.codRazaorestricao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas.codOrigemrestricao"
              >Cod Origemrestricao</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.codOrigemrestricao }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-dados-restricao-operacao-constrainedoff-usinas-eolicas',
            onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
