<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-dados-hidraulicos-reservatorio-base-diaria-heading"
        data-cy="OnsDadosHidraulicosReservatorioBaseDiariaCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.home.createOrEditLabel"
      >
        Criar ou editar Ons Dados Hidraulicos Reservatorio Base Diaria
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valNivelmontante"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valNivelmontante"
            >Val Nivelmontante</label
          >
          <input
            type="number"
            class="form-control"
            name="valNivelmontante"
            id="field_valNivelmontante"
            data-cy="valNivelmontante"
            formControlName="valNivelmontante"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valNiveljusante"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valNiveljusante"
            >Val Niveljusante</label
          >
          <input
            type="number"
            class="form-control"
            name="valNiveljusante"
            id="field_valNiveljusante"
            data-cy="valNiveljusante"
            formControlName="valNiveljusante"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVolumeutilcon"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVolumeutilcon"
            >Val Volumeutilcon</label
          >
          <input
            type="number"
            class="form-control"
            name="valVolumeutilcon"
            id="field_valVolumeutilcon"
            data-cy="valVolumeutilcon"
            formControlName="valVolumeutilcon"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaoafluente"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaoafluente"
            >Val Vazaoafluente</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaoafluente"
            id="field_valVazaoafluente"
            data-cy="valVazaoafluente"
            formControlName="valVazaoafluente"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaoturbinada"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaoturbinada"
            >Val Vazaoturbinada</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaoturbinada"
            id="field_valVazaoturbinada"
            data-cy="valVazaoturbinada"
            formControlName="valVazaoturbinada"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaovertida"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaovertida"
            >Val Vazaovertida</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaovertida"
            id="field_valVazaovertida"
            data-cy="valVazaovertida"
            formControlName="valVazaovertida"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaooutrasestruturas"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaooutrasestruturas"
            >Val Vazaooutrasestruturas</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaooutrasestruturas"
            id="field_valVazaooutrasestruturas"
            data-cy="valVazaooutrasestruturas"
            formControlName="valVazaooutrasestruturas"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaodefluente"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaodefluente"
            >Val Vazaodefluente</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaodefluente"
            id="field_valVazaodefluente"
            data-cy="valVazaodefluente"
            formControlName="valVazaodefluente"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaotransferida"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaotransferida"
            >Val Vazaotransferida</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaotransferida"
            id="field_valVazaotransferida"
            data-cy="valVazaotransferida"
            formControlName="valVazaotransferida"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaonatural"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaonatural"
            >Val Vazaonatural</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaonatural"
            id="field_valVazaonatural"
            data-cy="valVazaonatural"
            formControlName="valVazaonatural"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaoartificial"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaoartificial"
            >Val Vazaoartificial</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaoartificial"
            id="field_valVazaoartificial"
            data-cy="valVazaoartificial"
            formControlName="valVazaoartificial"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaoincremental"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaoincremental"
            >Val Vazaoincremental</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaoincremental"
            id="field_valVazaoincremental"
            data-cy="valVazaoincremental"
            formControlName="valVazaoincremental"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaoevaporacaoliquida"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaoevaporacaoliquida"
            >Val Vazaoevaporacaoliquida</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaoevaporacaoliquida"
            id="field_valVazaoevaporacaoliquida"
            data-cy="valVazaoevaporacaoliquida"
            formControlName="valVazaoevaporacaoliquida"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valVazaousoconsuntivo"
            jhiTranslate="wattsUpEnergyApp.onsDadosHidraulicosReservatorioBaseDiaria.valVazaousoconsuntivo"
            >Val Vazaousoconsuntivo</label
          >
          <input
            type="number"
            class="form-control"
            name="valVazaousoconsuntivo"
            id="field_valVazaousoconsuntivo"
            data-cy="valVazaousoconsuntivo"
            formControlName="valVazaousoconsuntivo"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
