<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas(); as onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef) {
      <div>
        <h2 data-cy="onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.detail.title"
            >Ons Dados Restricao Operacao Constrainedoff Usinas Fotovoltaicas</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.idSubsistema"
              >Id Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.idSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.nomSubsistema"
              >Nom Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.nomSubsistema }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.idEstado">Id Estado</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.idEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.nomEstado">Nom Estado</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.nomEstado }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.nomUsina">Nom Usina</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.nomUsina }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.idOns">Id Ons</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.idOns }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.ceg">Ceg</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.ceg }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.dinInstante">Din Instante</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.dinInstante | formatMediumDate }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.valGeracao">Val Geracao</span>
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.valGeracao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.valGeracaolimitada"
              >Val Geracaolimitada</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.valGeracaolimitada }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.valDisponibilidade"
              >Val Disponibilidade</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.valDisponibilidade }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.valGeracaoreferencia"
              >Val Geracaoreferencia</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.valGeracaoreferencia }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.valGeracaoreferenciafinal"
              >Val Geracaoreferenciafinal</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.valGeracaoreferenciafinal }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.codRazaorestricao"
              >Cod Razaorestricao</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.codRazaorestricao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas.codOrigemrestricao"
              >Cod Origemrestricao</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.codOrigemrestricao }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-dados-restricao-operacao-constrainedoff-usinas-fotovoltaicas',
            onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
