<div>
  <h2 id="page-heading" data-cy="OnsBalancoEnergiaNosSubsistemasHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.title">Ons Balanco Energia Nos Subsistemas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-balanco-energia-nos-subsistemas"
        [routerLink]="['/ons-balanco-energia-nos-subsistemas/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.createLabel"
          >Criar novo Ons Balanco Energia Nos Subsistemas</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.search"
          >Pesquisar por Ons Balanco Energia Nos Subsistemas</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsBalancoEnergiaNosSubsistemas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.home.notFound"
        >Nenhum Ons Balanco Energia Nos Subsistemas encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.idSubsistema">Id Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.nomSubsistema">Nom Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dinInstante">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.dinInstante">Din Instante</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valGerhidraulica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valGerhidraulica">Val Gerhidraulica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valGertermica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valGertermica">Val Gertermica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valGereolica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valGereolica">Val Gereolica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valGersolar">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valGersolar">Val Gersolar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCarga">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valCarga">Val Carga</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valIntercambio">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsBalancoEnergiaNosSubsistemas.valIntercambio">Val Intercambio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsBalancoEnergiaNosSubsistemas of onsBalancoEnergiaNosSubsistemas(); track trackId(onsBalancoEnergiaNosSubsistemas)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-balanco-energia-nos-subsistemas', onsBalancoEnergiaNosSubsistemas.id, 'view']">{{
                  onsBalancoEnergiaNosSubsistemas.id
                }}</a>
              </td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.idSubsistema }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.nomSubsistema }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.dinInstante | formatMediumDate }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valGerhidraulica }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valGertermica }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valGereolica }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valGersolar }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valCarga }}</td>
              <td>{{ onsBalancoEnergiaNosSubsistemas.valIntercambio }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-balanco-energia-nos-subsistemas', onsBalancoEnergiaNosSubsistemas.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-balanco-energia-nos-subsistemas', onsBalancoEnergiaNosSubsistemas.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsBalancoEnergiaNosSubsistemas)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
