@if (onsImportacaoEnergiaNaModalidadeComercialBloco) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(onsImportacaoEnergiaNaModalidadeComercialBloco.id!)">
    <div class="modal-header">
      <h4
        class="modal-title"
        data-cy="onsImportacaoEnergiaNaModalidadeComercialBlocoDeleteDialogHeading"
        jhiTranslate="entity.delete.title"
      >
        Confirme a exclusão
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-onsImportacaoEnergiaNaModalidadeComercialBloco-heading"
        jhiTranslate="wattsUpEnergyApp.onsImportacaoEnergiaNaModalidadeComercialBloco.delete.question"
        [translateValues]="{ id: onsImportacaoEnergiaNaModalidadeComercialBloco.id }"
      >
        Tem certeza de que deseja excluir Ons Importacao Energia Na Modalidade Comercial Bloco
        {{ onsImportacaoEnergiaNaModalidadeComercialBloco.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button
        id="jhi-confirm-delete-onsImportacaoEnergiaNaModalidadeComercialBloco"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger"
      >
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
      </button>
    </div>
  </form>
}
