<div>
  <h2 id="page-heading" data-cy="OnsCapacidadeTransformacaoRedeBasicaHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.title">Ons Capacidade Transformacao Rede Basicas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-capacidade-transformacao-rede-basica"
        [routerLink]="['/ons-capacidade-transformacao-rede-basica/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.createLabel"
          >Criar novo Ons Capacidade Transformacao Rede Basica</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.search"
          >Pesquisar por Ons Capacidade Transformacao Rede Basica</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsCapacidadeTransformacaoRedeBasicas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.home.notFound"
        >Nenhum Ons Capacidade Transformacao Rede Basica encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.idSubsistema">Id Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomSubsistema">Nom Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idEstado">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.idEstado">Id Estado</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomEstado">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomEstado">Nom Estado</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomTipotransformador">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomTipotransformador">Nom Tipotransformador</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomAgenteproprietario">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomAgenteproprietario"
                  >Nom Agenteproprietario</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubestacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomSubestacao">Nom Subestacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomTransformador">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomTransformador">Nom Transformador</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="codEquipamento">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.codEquipamento">Cod Equipamento</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="datEntradaoperacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.datEntradaoperacao">Dat Entradaoperacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datDesativacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.datDesativacao">Dat Desativacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valTensaoprimarioKv">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.valTensaoprimarioKv">Val Tensaoprimario Kv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valTensaosecundarioKv">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.valTensaosecundarioKv"
                  >Val Tensaosecundario Kv</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valTensaoterciarioKv">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.valTensaoterciarioKv"
                  >Val Tensaoterciario Kv</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valPotencianominalMva">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.valPotencianominalMva"
                  >Val Potencianominal Mva</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomTipoderede">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.nomTipoderede">Nom Tipoderede</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="numBarraPrimario">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.numBarraPrimario">Num Barra Primario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numBarraSecundario">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCapacidadeTransformacaoRedeBasica.numBarraSecundario">Num Barra Secundario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsCapacidadeTransformacaoRedeBasica of onsCapacidadeTransformacaoRedeBasicas();
            track trackId(onsCapacidadeTransformacaoRedeBasica)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-capacidade-transformacao-rede-basica', onsCapacidadeTransformacaoRedeBasica.id, 'view']">{{
                  onsCapacidadeTransformacaoRedeBasica.id
                }}</a>
              </td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.idSubsistema }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomSubsistema }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.idEstado }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomEstado }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomTipotransformador }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomAgenteproprietario }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomSubestacao }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomTransformador }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.codEquipamento }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.datEntradaoperacao | formatMediumDate }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.datDesativacao | formatMediumDate }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.valTensaoprimarioKv }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.valTensaosecundarioKv }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.valTensaoterciarioKv }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.valPotencianominalMva }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.nomTipoderede }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.numBarraPrimario }}</td>
              <td>{{ onsCapacidadeTransformacaoRedeBasica.numBarraSecundario }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-capacidade-transformacao-rede-basica', onsCapacidadeTransformacaoRedeBasica.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-capacidade-transformacao-rede-basica', onsCapacidadeTransformacaoRedeBasica.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsCapacidadeTransformacaoRedeBasica)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
