<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-dados-historico-despacho-energia-janeiro-2021-a-setembro-2024-heading"
        data-cy="OnsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024CreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.home.createOrEditLabel"
      >
        Criar ou editar Ons Dados Historico Despacho Energia Janeiro 2021 A Setembro 2024
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label
              class="form-label"
              for="field_id"
              jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.id"
              >ID</label
            >
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_datPdp"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.datPdp"
            >Dat Pdp</label
          >
          <input type="text" class="form-control" name="datPdp" id="field_datPdp" data-cy="datPdp" formControlName="datPdp" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_codSubmercado"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.codSubmercado"
            >Cod Submercado</label
          >
          <input
            type="text"
            class="form-control"
            name="codSubmercado"
            id="field_codSubmercado"
            data-cy="codSubmercado"
            formControlName="codSubmercado"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_sglTipousina"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.sglTipousina"
            >Sgl Tipousina</label
          >
          <input
            type="text"
            class="form-control"
            name="sglTipousina"
            id="field_sglTipousina"
            data-cy="sglTipousina"
            formControlName="sglTipousina"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_codUsinapdp"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.codUsinapdp"
            >Cod Usinapdp</label
          >
          <input
            type="text"
            class="form-control"
            name="codUsinapdp"
            id="field_codUsinapdp"
            data-cy="codUsinapdp"
            formControlName="codUsinapdp"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nomUsinapdp"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.nomUsinapdp"
            >Nom Usinapdp</label
          >
          <input
            type="text"
            class="form-control"
            name="nomUsinapdp"
            id="field_nomUsinapdp"
            data-cy="nomUsinapdp"
            formControlName="nomUsinapdp"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_numIntdespa"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.numIntdespa"
            >Num Intdespa</label
          >
          <input
            type="number"
            class="form-control"
            name="numIntdespa"
            id="field_numIntdespa"
            data-cy="numIntdespa"
            formControlName="numIntdespa"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valDespasup"
            jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.valDespasup"
            >Val Despasup</label
          >
          <input
            type="number"
            class="form-control"
            name="valDespasup"
            id="field_valDespasup"
            data-cy="valDespasup"
            formControlName="valDespasup"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
