<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (
      onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas();
      as onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef
    ) {
      <div>
        <h2 data-cy="onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.detail.title"
            >Ons Dados Restricao Operacao Constrainedoff Usinas Fotovoltaicas Detalhamento Usinas</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.idSubsistema"
              >Id Subsistema</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.idSubsistema }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.nomModalidadeoperacao"
              >Nom Modalidadeoperacao</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.nomModalidadeoperacao }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.idEstado"
              >Id Estado</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.idEstado }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.nomConjuntousina"
              >Nom Conjuntousina</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.nomConjuntousina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.nomUsina"
              >Nom Usina</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.nomUsina }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.dinInstante"
              >Din Instante</span
            >
          </dt>
          <dd>
            <span>{{
              onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.dinInstante | formatMediumDate
            }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.idOns"
              >Id Ons</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.idOns }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.ceg"
              >Ceg</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.ceg }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.valIrradianciaverificado"
              >Val Irradianciaverificado</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.valIrradianciaverificado }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.flgDadoirradianciainvalido"
              >Flg Dadoirradianciainvalido</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.flgDadoirradianciainvalido }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.valGeracaoestimada"
              >Val Geracaoestimada</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.valGeracaoestimada }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="wattsUpEnergyApp.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas.valGeracaoverificada"
              >Val Geracaoverificada</span
            >
          </dt>
          <dd>
            <span>{{ onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.valGeracaoverificada }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="[
            '/ons-dados-restricao-operacao-constrainedoff-usinas-fotovoltaicas-detalhamento-usinas',
            onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinasRef.id,
            'edit',
          ]"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
