<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-descontinuado-precipitacao-diaria-observada-heading"
        data-cy="OnsDescontinuadoPrecipitacaoDiariaObservadaCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.home.createOrEditLabel"
      >
        Criar ou editar Ons Descontinuado Precipitacao Diaria Observada
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.id"
              >ID</label
            >
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_codEstacao"
            jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.codEstacao"
            >Cod Estacao</label
          >
          <input
            type="text"
            class="form-control"
            name="codEstacao"
            id="field_codEstacao"
            data-cy="codEstacao"
            formControlName="codEstacao"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valLatitude"
            jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.valLatitude"
            >Val Latitude</label
          >
          <input
            type="number"
            class="form-control"
            name="valLatitude"
            id="field_valLatitude"
            data-cy="valLatitude"
            formControlName="valLatitude"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valLongitude"
            jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.valLongitude"
            >Val Longitude</label
          >
          <input
            type="number"
            class="form-control"
            name="valLongitude"
            id="field_valLongitude"
            data-cy="valLongitude"
            formControlName="valLongitude"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valMedida"
            jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.valMedida"
            >Val Medida</label
          >
          <input type="number" class="form-control" name="valMedida" id="field_valMedida" data-cy="valMedida" formControlName="valMedida" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_datObservada"
            jhiTranslate="wattsUpEnergyApp.onsDescontinuadoPrecipitacaoDiariaObservada.datObservada"
            >Dat Observada</label
          >
          <div class="input-group">
            <input
              id="field_datObservada"
              data-cy="datObservada"
              type="text"
              class="form-control"
              name="datObservada"
              ngbDatepicker
              #datObservadaDp="ngbDatepicker"
              formControlName="datObservada"
            />
            <button type="button" class="btn btn-secondary" (click)="datObservadaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
