<div>
  <h2 id="page-heading" data-cy="OnsCmoSemanalHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.title">Ons Cmo Semanals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-cmo-semanal"
        [routerLink]="['/ons-cmo-semanal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.createLabel">Criar novo Ons Cmo Semanal</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.search"
          >Pesquisar por Ons Cmo Semanal</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsCmoSemanal.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsCmoSemanals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.notFound">Nenhum Ons Cmo Semanal encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.idSubsistema">Id Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubsistema">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.nomSubsistema">Nom Subsistema</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dinInstante">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.dinInstante">Din Instante</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCmomediasemanal">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmomediasemanal">Val Cmomediasemanal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCmoleve">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmoleve">Val Cmoleve</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCmomedia">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmomedia">Val Cmomedia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCmopesada">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmopesada">Val Cmopesada</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsCmoSemanal of onsCmoSemanals(); track trackId(onsCmoSemanal)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-cmo-semanal', onsCmoSemanal.id, 'view']">{{ onsCmoSemanal.id }}</a>
              </td>
              <td>{{ onsCmoSemanal.idSubsistema }}</td>
              <td>{{ onsCmoSemanal.nomSubsistema }}</td>
              <td>{{ onsCmoSemanal.dinInstante | formatMediumDate }}</td>
              <td>{{ onsCmoSemanal.valCmomediasemanal }}</td>
              <td>{{ onsCmoSemanal.valCmoleve }}</td>
              <td>{{ onsCmoSemanal.valCmomedia }}</td>
              <td>{{ onsCmoSemanal.valCmopesada }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-cmo-semanal', onsCmoSemanal.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-cmo-semanal', onsCmoSemanal.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(onsCmoSemanal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
