<div>
  <h2 id="page-heading" data-cy="OnsIntercambiosEntreSubsistemasHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.title">Ons Intercambios Entre Subsistemas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-intercambios-entre-subsistemas"
        [routerLink]="['/ons-intercambios-entre-subsistemas/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.createLabel"
          >Criar novo Ons Intercambios Entre Subsistemas</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.search"
          >Pesquisar por Ons Intercambios Entre Subsistemas</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsIntercambiosEntreSubsistemas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.home.notFound"
        >Nenhum Ons Intercambios Entre Subsistemas encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dinInstante">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.dinInstante">Din Instante</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idSubsistemaOrigem">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.idSubsistemaOrigem">Id Subsistema Origem</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubsistemaOrigem">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.nomSubsistemaOrigem">Nom Subsistema Origem</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idSubsistemaDestino">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.idSubsistemaDestino">Id Subsistema Destino</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomSubsistemaDestino">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.nomSubsistemaDestino">Nom Subsistema Destino</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="valIntercambiomwmed">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIntercambiosEntreSubsistemas.valIntercambiomwmed">Val Intercambiomwmed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsIntercambiosEntreSubsistemas of onsIntercambiosEntreSubsistemas(); track trackId(onsIntercambiosEntreSubsistemas)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-intercambios-entre-subsistemas', onsIntercambiosEntreSubsistemas.id, 'view']">{{
                  onsIntercambiosEntreSubsistemas.id
                }}</a>
              </td>
              <td>{{ onsIntercambiosEntreSubsistemas.dinInstante | formatMediumDate }}</td>
              <td>{{ onsIntercambiosEntreSubsistemas.idSubsistemaOrigem }}</td>
              <td>{{ onsIntercambiosEntreSubsistemas.nomSubsistemaOrigem }}</td>
              <td>{{ onsIntercambiosEntreSubsistemas.idSubsistemaDestino }}</td>
              <td>{{ onsIntercambiosEntreSubsistemas.nomSubsistemaDestino }}</td>
              <td>{{ onsIntercambiosEntreSubsistemas.valIntercambiomwmed }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-intercambios-entre-subsistemas', onsIntercambiosEntreSubsistemas.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-intercambios-entre-subsistemas', onsIntercambiosEntreSubsistemas.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsIntercambiosEntreSubsistemas)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
