<nav data-cy="navbar" class="navbar navbar-darkly navbar-expand-md bg-darkly">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">WattsUpEnergy</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Início</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account() !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list"></fa-icon>
                <span jhiTranslate="global.menu.entities.main">Entidades</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-curva-carga-horaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCurvaCargaHoraria">Ons Curva Carga Horaria</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ena-diario-reservatorio"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEnaDiarioReservatorio">Ons Ena Diario Reservatorio</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-capacidade-transformacao-rede-basica"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCapacidadeTransformacaoRedeBasica"
                    >Ons Capacidade Transformacao Rede Basica</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-carga-energia-mensal"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCargaEnergiaMensal">Ons Carga Energia Mensal</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-restricao-operacao-constrainedoff-usinas-fotovoltaicas-detalhamento-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicasDetalhamentoUsinas"
                    >Ons Dados Restricao Operacao Constrainedoff Usinas Fotovoltaicas Detalhamento Usinas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-geracao-termica-motivo-despacho"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsGeracaoTermicaMotivoDespacho">Ons Geracao Termica Motivo Despacho</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ear-diario-ree-reservatorio-equivalente-energia"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEarDiarioReeReservatorioEquivalenteEnergia"
                    >Ons Ear Diario Ree Reservatorio Equivalente Energia</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-qualidade-energia-rede-basica-dfp-desempenho-frequencia-em-regime-permanente"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span
                    jhiTranslate="global.menu.entities.onsDadosIndicadoresQualidadeEnergiaRedeBasicaDfpDesempenhoFrequenciaEmRegimePermanente"
                    >Ons Dados Indicadores Qualidade Energia Rede Basica Dfp Desempenho Frequencia Em Regime Permanente</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-fator-capacidade-geracao-eolica-e-solar"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsFatorCapacidadeGeracaoEolicaESolar"
                    >Ons Fator Capacidade Geracao Eolica E Solar</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-modalidade-operacao-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsModalidadeOperacaoUsinas">Ons Modalidade Operacao Usinas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-reservatorios"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsReservatorios">Ons Reservatorios</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-confiabilidade-rede-basica-atls-atendimento-aos-limites-sistemicos"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosIndicadoresConfiabilidadeRedeBasicaAtlsAtendimentoAosLimitesSistemicos"
                    >Ons Dados Indicadores Confiabilidade Rede Basica Atls Atendimento Aos Limites Sistemicos</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-disponibilidade-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosDisponibilidadeUsinas">Ons Dados Disponibilidade Usinas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-hidrologicos-volume-espera-recomendado"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosHidrologicosVolumeEsperaRecomendado"
                    >Ons Dados Hidrologicos Volume Espera Recomendado</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-cumprimento-providencias-ecpa-e-pcpa"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosIndicadoresCumprimentoProvidenciasEcpaEPcpa"
                    >Ons Dados Indicadores Cumprimento Providencias Ecpa E Pcpa</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-confiabilidade-rede-basica-ccat-controle-carregamento-transformadores"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span
                    jhiTranslate="global.menu.entities.onsDadosIndicadoresConfiabilidadeRedeBasicaCcatControleCarregamentoTransformadores"
                    >Ons Dados Indicadores Confiabilidade Rede Basica Ccat Controle Carregamento Transformadores</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-restricao-operacao-constrainedoff-usinas-fotovoltaicas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRestricaoOperacaoConstrainedoffUsinasFotovoltaicas"
                    >Ons Dados Restricao Operacao Constrainedoff Usinas Fotovoltaicas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-confiabilidade-rede-basica-ccal-controle-carregamento-linhas-transmissao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span
                    jhiTranslate="global.menu.entities.onsDadosIndicadoresConfiabilidadeRedeBasicaCcalControleCarregamentoLinhasTransmissao"
                    >Ons Dados Indicadores Confiabilidade Rede Basica Ccal Controle Carregamento Linhas Transmissao</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-relacionamento-entre-conjuntos-e-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRelacionamentoEntreConjuntosEUsinas"
                    >Ons Dados Relacionamento Entre Conjuntos E Usinas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-qualidade-energia-rede-basica-dfd-desempenho-frequencia-em-disturbios-evento"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span
                    jhiTranslate="global.menu.entities.onsDadosIndicadoresQualidadeEnergiaRedeBasicaDfdDesempenhoFrequenciaEmDisturbiosEvento"
                    >Ons Dados Indicadores Qualidade Energia Rede Basica Dfd Desempenho Frequencia Em Disturbios Evento</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-programados-elementos-fluxo-controlado"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosProgramadosElementosFluxoControlado"
                    >Ons Dados Programados Elementos Fluxo Controlado</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-balanco-energia-nos-subsistemas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsBalancoEnergiaNosSubsistemas">Ons Balanco Energia Nos Subsistemas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-carga-energia-programada"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCargaEnergiaProgramada">Ons Carga Energia Programada</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-hidraulicos-reservatorio-base-horaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosHidraulicosReservatorioBaseHoraria"
                    >Ons Dados Hidraulicos Reservatorio Base Horaria</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-linhas-transmissao-rede-operacao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsLinhasTransmissaoRedeOperacao">Ons Linhas Transmissao Rede Operacao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-confiabilidade-rede-basica-sm-severidade-perturbacoes"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresConfiabilidadeRedeBasicaSmSeveridadePerturbacoes"
                    >Ons Indicadores Confiabilidade Rede Basica Sm Severidade Perturbacoes</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-valores-programacao-diaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosValoresProgramacaoDiaria">Ons Dados Valores Programacao Diaria</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-cvu-usina-termicas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCvuUsinaTermicas">Ons Cvu Usina Termicas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-geracao-comercial-para-exportacao-internacional"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsGeracaoComercialParaExportacaoInternacional"
                    >Ons Geracao Comercial Para Exportacao Internacional</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-cmo-semanal"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCmoSemanal">Ons Cmo Semanal</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ear-diario-subsistema"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEarDiarioSubsistema">Ons Ear Diario Subsistema</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-hidraulicos-reservatorio-base-diaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosHidraulicosReservatorioBaseDiaria"
                    >Ons Dados Hidraulicos Reservatorio Base Diaria</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-confiabilidade-rede-basica-dreq-freq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresConfiabilidadeRedeBasicaDreqFreq"
                    >Ons Indicadores Confiabilidade Rede Basica Dreq Freq</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-balanco-energia-dessem"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsBalancoEnergiaDessem">Ons Balanco Energia Dessem</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ena-diario-bacia"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEnaDiarioBacia">Ons Ena Diario Bacia</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-desempenho-funcoes-geracao-unidade-geradora-em-base-mensal"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseMensal"
                    >Ons Indicadores Desempenho Funcoes Geracao Unidade Geradora Em Base Mensal</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ena-diario-subsistema"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEnaDiarioSubsistema">Ons Ena Diario Subsistema</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ena-diario-ree-reservatorio-equivalente-energia"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEnaDiarioReeReservatorioEquivalenteEnergia"
                    >Ons Ena Diario Ree Reservatorio Equivalente Energia</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-desempenho-funcoes-geracao-unidade-geradora-em-base-anual"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresDesempenhoFuncoesGeracaoUnidadeGeradoraEmBaseAnual"
                    >Ons Indicadores Desempenho Funcoes Geracao Unidade Geradora Em Base Anual</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-importacao-energia-na-modalidade-comercial-bloco"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsImportacaoEnergiaNaModalidadeComercialBloco"
                    >Ons Importacao Energia Na Modalidade Comercial Bloco</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes"
                    >Ons Indicadores Confiabilidade Rede Basica Ciper Carga Interrompida Perturbacoes</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-intercambio-energia-modalidade"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosIntercambioEnergiaModalidade"
                    >Ons Dados Intercambio Energia Modalidade</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-carga-energia-diaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCargaEnergiaDiaria">Ons Carga Energia Diaria</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-cmo-semihorario"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCmoSemihorario">Ons Cmo Semihorario</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-carga-energia-verificada"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCargaEnergiaVerificada">Ons Carga Energia Verificada</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-restricao-operacao-constrainedoff-usinas-eolicas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicas"
                    >Ons Dados Restricao Operacao Constrainedoff Usinas Eolicas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-valores-previsao-versus-programado-eolicas-e-solares"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosValoresPrevisaoVersusProgramadoEolicasESolares"
                    >Ons Dados Valores Previsao Versus Programado Eolicas E Solares</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-indicadores-qualidade-energia-rede-basica-dfd-desempenho-frequencia-em-disturbios-mensal-e-anual"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span
                    jhiTranslate="global.menu.entities.onsDadosIndicadoresQualidadeEnergiaRedeBasicaDfdDesempenhoFrequenciaEmDisturbiosMensalEAnual"
                    >Ons Dados Indicadores Qualidade Energia Rede Basica Dfd Desempenho Frequencia Em Disturbios Mensal E Anual</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-taxas-teifa-e-teip"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsTaxasTeifaETeip">Ons Taxas Teifa E Teip</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-indicadores-confiabilidade-rede-basica-robustez-rmal-rmcs-rrb-e-rrbcs"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIndicadoresConfiabilidadeRedeBasicaRobustezRmalRmcsRrbERrbcs"
                    >Ons Indicadores Confiabilidade Rede Basica Robustez Rmal Rmcs Rrb E Rrbcs</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-restricao-operacao-constrainedoff-usinas-eolicas-detalhamento-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRestricaoOperacaoConstrainedoffUsinasEolicasDetalhamentoUsinas"
                    >Ons Dados Restricao Operacao Constrainedoff Usinas Eolicas Detalhamento Usinas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-geracao-usina-em-base-horaria"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsGeracaoUsinaEmBaseHoraria">Ons Geracao Usina Em Base Horaria</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ear-diario-reservatorio"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEarDiarioReservatorio">Ons Ear Diario Reservatorio</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-intercambio-sin-com-outros-paises"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIntercambioSinComOutrosPaises">Ons Intercambio Sin Com Outros Paises</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-equipamentos-controle-reativos"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEquipamentosControleReativos">Ons Equipamentos Controle Reativos</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ear-diario-bacia"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsEarDiarioBacia">Ons Ear Diario Bacia</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-historico-despacho-energia-janeiro-2021-a-setembro-2024"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024"
                    >Ons Dados Historico Despacho Energia Janeiro 2021 A Setembro 2024</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-grandezas-fluviometricas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosGrandezasFluviometricas">Ons Dados Grandezas Fluviometricas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-intercambios-entre-subsistemas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsIntercambiosEntreSubsistemas">Ons Intercambios Entre Subsistemas</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-ofertas-preco-para-importacao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsOfertasPrecoParaImportacao">Ons Ofertas Preco Para Importacao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-dados-relacionamento-entre-grupos-pequenas-usinas-e-usinas"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDadosRelacionamentoEntreGruposPequenasUsinasEUsinas"
                    >Ons Dados Relacionamento Entre Grupos Pequenas Usinas E Usinas</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-capacidade-instalada-geracao"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsCapacidadeInstaladaGeracao">Ons Capacidade Instalada Geracao</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ons-descontinuado-precipitacao-diaria-observada"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.onsDescontinuadoPrecipitacaoDiariaObservada"
                    >Ons Descontinuado Precipitacao Diaria Observada</span
                  >
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administração</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/authority"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.adminAuthority">Authority</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">Gerenciamento de usuário</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Métricas</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Estado do Sistema</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuração</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            @if (openAPIEnabled) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag"></fa-icon>
                <span jhiTranslate="global.menu.language">Idioma</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!accountRef?.imageUrl) {
              <span>
                <fa-icon icon="user"></fa-icon>
                <span jhiTranslate="global.menu.account.main">Conta</span>
              </span>
            } @else {
              <span>
                <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/settings"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="settings"
                >
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.settings">Configuração</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/password"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="passwordItem"
                >
                  <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.password">Senha</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/account/sessions" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="cloud" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.sessions">Sessões</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.logout">Sair</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.login">Entrar</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/register"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="register"
                >
                  <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.register">Criar uma conta</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
