@if (onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.id!)">
    <div class="modal-header">
      <h4
        class="modal-title"
        data-cy="onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024DeleteDialogHeading"
        jhiTranslate="entity.delete.title"
      >
        Confirme a exclusão
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024-heading"
        jhiTranslate="wattsUpEnergyApp.onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.delete.question"
        [translateValues]="{ id: onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.id }"
      >
        Tem certeza de que deseja excluir Ons Dados Historico Despacho Energia Janeiro 2021 A Setembro 2024
        {{ onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button
        id="jhi-confirm-delete-onsDadosHistoricoDespachoEnergiaJaneiro2021ASetembro2024"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger"
      >
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
      </button>
    </div>
  </form>
}
