<div>
  <h2 id="page-heading" data-cy="OnsEarDiarioBaciaHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.home.title">Ons Ear Diario Bacias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-ear-diario-bacia"
        [routerLink]="['/ons-ear-diario-bacia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.home.createLabel"
          >Criar novo Ons Ear Diario Bacia</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.home.search"
          >Pesquisar por Ons Ear Diario Bacia</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsEarDiarioBacia.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsEarDiarioBacias().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.home.notFound">Nenhum Ons Ear Diario Bacia encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomCurto">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.nomCurto">Nom Curto</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="earData">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.earData">Ear Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earMaxBacia">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.earMaxBacia">Ear Max Bacia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earVerifBaciaMwmes">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.earVerifBaciaMwmes">Ear Verif Bacia Mwmes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earVerifBaciaPercentual">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioBacia.earVerifBaciaPercentual">Ear Verif Bacia Percentual</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsEarDiarioBacia of onsEarDiarioBacias(); track trackId(onsEarDiarioBacia)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-ear-diario-bacia', onsEarDiarioBacia.id, 'view']">{{ onsEarDiarioBacia.id }}</a>
              </td>
              <td>{{ onsEarDiarioBacia.nomCurto }}</td>
              <td>{{ onsEarDiarioBacia.earData | formatMediumDate }}</td>
              <td>{{ onsEarDiarioBacia.earMaxBacia }}</td>
              <td>{{ onsEarDiarioBacia.earVerifBaciaMwmes }}</td>
              <td>{{ onsEarDiarioBacia.earVerifBaciaPercentual }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-ear-diario-bacia', onsEarDiarioBacia.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-ear-diario-bacia', onsEarDiarioBacia.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(onsEarDiarioBacia)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
