<div>
  <h2 id="page-heading" data-cy="OnsReservatoriosHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.home.title">Ons Reservatorios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-reservatorios"
        [routerLink]="['/ons-reservatorios/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsReservatorios.home.createLabel">Criar novo Ons Reservatorios</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsReservatorios.home.search"
          >Pesquisar por Ons Reservatorios</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsReservatorios.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsReservatorios().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.home.notFound">Nenhum Ons Reservatorios encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomRee">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.nomRee">Nom Ree</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="datEntrada">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.datEntrada">Dat Entrada</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCotamaxima">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valCotamaxima">Val Cotamaxima</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCotaminima">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valCotaminima">Val Cotaminima</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVolmax">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valVolmax">Val Volmax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVolmin">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valVolmin">Val Volmin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valVolutiltot">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valVolutiltot">Val Volutiltot</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valProdutibilidadeespecifica">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valProdutibilidadeespecifica">Val Produtibilidadeespecifica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valProdutividade65volutil">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valProdutividade65volutil">Val Produtividade 65 Volutil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valTipoperda">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valTipoperda">Val Tipoperda</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="valPerda">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valPerda">Val Perda</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valLatitude">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valLatitude">Val Latitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valLongitude">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.valLongitude">Val Longitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idReservatorio">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsReservatorios.idReservatorio">Id Reservatorio</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsReservatorios of onsReservatorios(); track trackId(onsReservatorios)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-reservatorios', onsReservatorios.id, 'view']">{{ onsReservatorios.id }}</a>
              </td>
              <td>{{ onsReservatorios.nomRee }}</td>
              <td>{{ onsReservatorios.datEntrada | formatMediumDate }}</td>
              <td>{{ onsReservatorios.valCotamaxima }}</td>
              <td>{{ onsReservatorios.valCotaminima }}</td>
              <td>{{ onsReservatorios.valVolmax }}</td>
              <td>{{ onsReservatorios.valVolmin }}</td>
              <td>{{ onsReservatorios.valVolutiltot }}</td>
              <td>{{ onsReservatorios.valProdutibilidadeespecifica }}</td>
              <td>{{ onsReservatorios.valProdutividade65volutil }}</td>
              <td>{{ onsReservatorios.valTipoperda }}</td>
              <td>{{ onsReservatorios.valPerda }}</td>
              <td>{{ onsReservatorios.valLatitude }}</td>
              <td>{{ onsReservatorios.valLongitude }}</td>
              <td>{{ onsReservatorios.idReservatorio }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-reservatorios', onsReservatorios.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-reservatorios', onsReservatorios.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(onsReservatorios)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
