<div>
  <h2 id="page-heading" data-cy="OnsModalidadeOperacaoUsinasHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.title">Ons Modalidade Operacao Usinas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-modalidade-operacao-usinas"
        [routerLink]="['/ons-modalidade-operacao-usinas/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.createLabel"
          >Criar novo Ons Modalidade Operacao Usinas</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.search"
          >Pesquisar por Ons Modalidade Operacao Usinas</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsModalidadeOperacaoUsinas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.home.notFound"
        >Nenhum Ons Modalidade Operacao Usinas encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomUsina">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.nomUsina">Nom Usina</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ceg">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.ceg">Ceg</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomModalidadeoperacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.nomModalidadeoperacao">Nom Modalidadeoperacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="valPotenciaautorizada">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.valPotenciaautorizada">Val Potenciaautorizada</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sglCentrooperacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.sglCentrooperacao">Sgl Centrooperacao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomPontoconexao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.nomPontoconexao">Nom Pontoconexao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idEstado">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.idEstado">Id Estado</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nomEstado">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.nomEstado">Nom Estado</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="stsAneel">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsModalidadeOperacaoUsinas.stsAneel">Sts Aneel</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (onsModalidadeOperacaoUsinas of onsModalidadeOperacaoUsinas(); track trackId(onsModalidadeOperacaoUsinas)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ons-modalidade-operacao-usinas', onsModalidadeOperacaoUsinas.id, 'view']">{{
                  onsModalidadeOperacaoUsinas.id
                }}</a>
              </td>
              <td>{{ onsModalidadeOperacaoUsinas.nomUsina }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.ceg }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.nomModalidadeoperacao }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.valPotenciaautorizada }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.sglCentrooperacao }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.nomPontoconexao }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.idEstado }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.nomEstado }}</td>
              <td>{{ onsModalidadeOperacaoUsinas.stsAneel }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ons-modalidade-operacao-usinas', onsModalidadeOperacaoUsinas.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/ons-modalidade-operacao-usinas', onsModalidadeOperacaoUsinas.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsModalidadeOperacaoUsinas)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
