<div>
  <h2 id="page-heading" data-cy="OnsEarDiarioReeReservatorioEquivalenteEnergiaHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.title"
      >Ons Ear Diario Ree Reservatorio Equivalente Energias</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-ear-diario-ree-reservatorio-equivalente-energia"
        [routerLink]="['/ons-ear-diario-ree-reservatorio-equivalente-energia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.createLabel"
          >Criar novo Ons Ear Diario Ree Reservatorio Equivalente Energia</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.search"
          >Pesquisar por Ons Ear Diario Ree Reservatorio Equivalente Energia</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsEarDiarioReeReservatorioEquivalenteEnergias().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.home.notFound"
        >Nenhum Ons Ear Diario Ree Reservatorio Equivalente Energia encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomRee">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.nomRee">Nom Ree</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="earData">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.earData">Ear Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earMaxRee">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.earMaxRee">Ear Max Ree</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earVerifReeMwmes">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.earVerifReeMwmes"
                  >Ear Verif Ree Mwmes</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="earVerifReePercentual">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsEarDiarioReeReservatorioEquivalenteEnergia.earVerifReePercentual"
                  >Ear Verif Ree Percentual</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsEarDiarioReeReservatorioEquivalenteEnergia of onsEarDiarioReeReservatorioEquivalenteEnergias();
            track trackId(onsEarDiarioReeReservatorioEquivalenteEnergia)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="[
                    '/ons-ear-diario-ree-reservatorio-equivalente-energia',
                    onsEarDiarioReeReservatorioEquivalenteEnergia.id,
                    'view',
                  ]"
                  >{{ onsEarDiarioReeReservatorioEquivalenteEnergia.id }}</a
                >
              </td>
              <td>{{ onsEarDiarioReeReservatorioEquivalenteEnergia.nomRee }}</td>
              <td>{{ onsEarDiarioReeReservatorioEquivalenteEnergia.earData | formatMediumDate }}</td>
              <td>{{ onsEarDiarioReeReservatorioEquivalenteEnergia.earMaxRee }}</td>
              <td>{{ onsEarDiarioReeReservatorioEquivalenteEnergia.earVerifReeMwmes }}</td>
              <td>{{ onsEarDiarioReeReservatorioEquivalenteEnergia.earVerifReePercentual }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/ons-ear-diario-ree-reservatorio-equivalente-energia',
                      onsEarDiarioReeReservatorioEquivalenteEnergia.id,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="[
                      '/ons-ear-diario-ree-reservatorio-equivalente-energia',
                      onsEarDiarioReeReservatorioEquivalenteEnergia.id,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsEarDiarioReeReservatorioEquivalenteEnergia)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
