<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-cmo-semanal-heading"
        data-cy="OnsCmoSemanalCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.home.createOrEditLabel"
      >
        Criar ou editar Ons Cmo Semanal
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idSubsistema" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.idSubsistema"
            >Id Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="idSubsistema"
            id="field_idSubsistema"
            data-cy="idSubsistema"
            formControlName="idSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomSubsistema" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.nomSubsistema"
            >Nom Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="nomSubsistema"
            id="field_nomSubsistema"
            data-cy="nomSubsistema"
            formControlName="nomSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dinInstante" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.dinInstante">Din Instante</label>
          <div class="input-group">
            <input
              id="field_dinInstante"
              data-cy="dinInstante"
              type="text"
              class="form-control"
              name="dinInstante"
              ngbDatepicker
              #dinInstanteDp="ngbDatepicker"
              formControlName="dinInstante"
            />
            <button type="button" class="btn btn-secondary" (click)="dinInstanteDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valCmomediasemanal" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmomediasemanal"
            >Val Cmomediasemanal</label
          >
          <input
            type="number"
            class="form-control"
            name="valCmomediasemanal"
            id="field_valCmomediasemanal"
            data-cy="valCmomediasemanal"
            formControlName="valCmomediasemanal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valCmoleve" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmoleve">Val Cmoleve</label>
          <input
            type="number"
            class="form-control"
            name="valCmoleve"
            id="field_valCmoleve"
            data-cy="valCmoleve"
            formControlName="valCmoleve"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valCmomedia" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmomedia">Val Cmomedia</label>
          <input
            type="number"
            class="form-control"
            name="valCmomedia"
            id="field_valCmomedia"
            data-cy="valCmomedia"
            formControlName="valCmomedia"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valCmopesada" jhiTranslate="wattsUpEnergyApp.onsCmoSemanal.valCmopesada"
            >Val Cmopesada</label
          >
          <input
            type="number"
            class="form-control"
            name="valCmopesada"
            id="field_valCmopesada"
            data-cy="valCmopesada"
            formControlName="valCmopesada"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
