<div>
  <h2 id="page-heading" data-cy="OnsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoesHeading">
    <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.title"
      >Ons Indicadores Confiabilidade Rede Basica Ciper Carga Interrompida Perturbacoes</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.refreshListLabel"
          >Atualizar lista</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes"
        [routerLink]="['/ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span
          class="hidden-sm-down"
          jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.createLabel"
          >Criar novo Ons Indicadores Confiabilidade Rede Basica Ciper Carga Interrompida Perturbacoes</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.search"
          >Pesquisar por Ons Indicadores Confiabilidade Rede Basica Ciper Carga Interrompida Perturbacoes</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{
            'wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.search' | translate
          }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.home.notFound"
        >Nenhum Ons Indicadores Confiabilidade Rede Basica Ciper Carga Interrompida Perturbacoes encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dscAgregacao">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dscAgregacao"
                  >Dsc Agregacao</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="codCaracteristica">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.codCaracteristica"
                  >Cod Caracteristica</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dscCaracteristica">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dscCaracteristica"
                  >Dsc Caracteristica</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="idPeriodicidade">
              <div class="d-flex">
                <span
                  jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.idPeriodicidade"
                  >Id Periodicidade</span
                >
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dinReferencia">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dinReferencia"
                  >Din Referencia</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCiper1">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper1"
                  >Val Ciper 1</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCiper2">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper2"
                  >Val Ciper 2</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCiper3">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper3"
                  >Val Ciper 3</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCiper4">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper4"
                  >Val Ciper 4</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valCiper5">
              <div class="d-flex">
                <span jhiTranslate="wattsUpEnergyApp.onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper5"
                  >Val Ciper 5</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (
            onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes of onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes();
            track trackId(onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes)
          ) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="[
                    '/ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes',
                    onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.id,
                    'view',
                  ]"
                  >{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.id }}</a
                >
              </td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dscAgregacao }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.codCaracteristica }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dscCaracteristica }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.idPeriodicidade }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.dinReferencia | formatMediumDate }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper1 }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper2 }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper3 }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper4 }}</td>
              <td>{{ onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.valCiper5 }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="[
                      '/ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes',
                      onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.id,
                      'view',
                    ]"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="[
                      '/ons-indicadores-confiabilidade-rede-basica-ciper-carga-interrompida-perturbacoes',
                      onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes.id,
                      'edit',
                    ]"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(onsIndicadoresConfiabilidadeRedeBasicaCiperCargaInterrompidaPerturbacoes)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
