<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (onsEnaDiarioReservatorio(); as onsEnaDiarioReservatorioRef) {
      <div>
        <h2 data-cy="onsEnaDiarioReservatorioDetailsHeading">
          <span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.detail.title">Ons Ena Diario Reservatorio</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.enaBrutaResMwmed">Ena Bruta Res Mwmed</span></dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.enaBrutaResMwmed }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.enaBrutaResPercentualmlt">Ena Bruta Res Percentualmlt</span>
          </dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.enaBrutaResPercentualmlt }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.enaArmazenavelResMwmed">Ena Armazenavel Res Mwmed</span></dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.enaArmazenavelResMwmed }}</span>
          </dd>
          <dt>
            <span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.enaArmazenavelResPercentualmlt"
              >Ena Armazenavel Res Percentualmlt</span
            >
          </dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.enaArmazenavelResPercentualmlt }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.enaQuedaBruta">Ena Queda Bruta</span></dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.enaQuedaBruta }}</span>
          </dd>
          <dt><span jhiTranslate="wattsUpEnergyApp.onsEnaDiarioReservatorio.mltEna">Mlt Ena</span></dt>
          <dd>
            <span>{{ onsEnaDiarioReservatorioRef.mltEna }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="['/ons-ena-diario-reservatorio', onsEnaDiarioReservatorioRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
