<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ons-curva-carga-horaria-heading"
        data-cy="OnsCurvaCargaHorariaCreateUpdateHeading"
        jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.home.createOrEditLabel"
      >
        Criar ou editar Ons Curva Carga Horaria
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idSubsistema" jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.idSubsistema"
            >Id Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="idSubsistema"
            id="field_idSubsistema"
            data-cy="idSubsistema"
            formControlName="idSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomSubsistema" jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.nomSubsistema"
            >Nom Subsistema</label
          >
          <input
            type="text"
            class="form-control"
            name="nomSubsistema"
            id="field_nomSubsistema"
            data-cy="nomSubsistema"
            formControlName="nomSubsistema"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dinInstante" jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.dinInstante"
            >Din Instante</label
          >
          <div class="input-group">
            <input
              id="field_dinInstante"
              data-cy="dinInstante"
              type="text"
              class="form-control"
              name="dinInstante"
              ngbDatepicker
              #dinInstanteDp="ngbDatepicker"
              formControlName="dinInstante"
            />
            <button type="button" class="btn btn-secondary" (click)="dinInstanteDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_valCargaenergiahomwmed"
            jhiTranslate="wattsUpEnergyApp.onsCurvaCargaHoraria.valCargaenergiahomwmed"
            >Val Cargaenergiahomwmed</label
          >
          <input
            type="number"
            class="form-control"
            name="valCargaenergiahomwmed"
            id="field_valCargaenergiahomwmed"
            data-cy="valCargaenergiahomwmed"
            formControlName="valCargaenergiahomwmed"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
